<li class="nav-item">
	<div class="custom-control custom-switch nav-link">
		<input type="checkbox" class="form-control custom-control-input" id="switch-darkmode">
		<label class="custom-control-label" for="switch-darkmode"><i class="fas fa-adjust"></i></label>
	</div>
</li>

<!-- <div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input id="switch-darkmode" type="checkbox" checked autocomplete="off"><i class="fas fa-adjust"></i>
  </label>
</div> -->

<!-- <li class="nav-item">
	<a class="nav-link" href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
</li> -->