<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=rM3bzGqQJK">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=rM3bzGqQJK" sizes="32x32">
<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=rM3bzGqQJK" sizes="16x16">
<link rel="manifest" href="/favicons/manifest.json?v=rM3bzGqQJK">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=rM3bzGqQJK" color="#333333">
<link rel="shortcut icon" href="/favicons/favicon.ico?v=rM3bzGqQJK">
<meta name="msapplication-config" content="/favicons/browserconfig.xml?v=rM3bzGqQJK">
<meta name="theme-color" content="#333333">
